<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
	<title>Aquamatix NWave Test</title>
	<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
	    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
		<link href="/resources/css/bootstrap-responsive.min.css" rel="stylesheet">
    </style>
	</head>
<body>
<div th:include="layout :: head"></div>
<div class="container-fluid">
    <div th:include="layout :: left"></div>
    <div class="hero-unit span9">
        <h3>Aquamatix NWave Receiver</h3>
        <p>
           NWave Receiver Demo Page for BCA
        </p>
    </div>
    <div class="row-fluid">
        <div class="span9">

            <div id="message" class="alert alert-info">
                Data from  <em th:text="${modems.size}">ZERO</em> modems.
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Signal</th>
                    <th>Station ID</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item,status : ${menuItems}">
                    <td th:text="${item.deviceID}"></td>
                    <td th:text="${item.Signal}"></td>
                    <td th:text="${item.Station ID}"></td>
                    <td>
                        <form action="/showData" method="POST">
                            <input id="id" name="id" type="hidden" th:value="${item.deviceID}"/>
                            <input id="signal" name="signal" type="hidden" th:value="${item.Signal}"/>
                            <input id="cost" name="StationID" type="hidden" th:value="${item.StationID}"/>
                            <input type="submit" value="Show Data"/>
                        </form>
                    </td>

                </tr>
                <!-- This example data will be removed by thmyeleafe during processing and replaced with the rows generated above -->
                <tr th:remove="all">
                    <td>52360</td>
                    <td>12</td>
                    <td>1147</td>
                </tr>
                </tbody>
            </table>
            <div th:include="layout :: foot"></div>
        </div>
    </div>
</div>
</body>
</html>